<div class="custom-password-container">
  <div class="custom-password">
    <input [type]="inputType" [(ngModel)]="password" (ngModelChange)="onChange()" />
    <button class="toggle-btn" (click)="toggleInputType()">
      <img *ngIf="inputType == 'password'; else elseBlock" src="assets/icon_visibility.svg" />
      <ng-template #elseBlock>
        <img src="assets/icon_visibility_off.svg" />
      </ng-template>
    </button>
  </div>
  <div class="password-strength-indicators"
       [class.short]="password.length > 0 && password.length < 8"
       [class.easy]="passwordStr == 'easy'" [class.medium]="passwordStr == 'medium'"
       [class.strong]="passwordStr == 'strong'"
       [class.wrong]="passwordStr == 'wrong'">
    <div class="indicator" [class.active]="passwordStr != 'none'"></div>
    <div class="indicator" [class.active]="passwordStr == 'medium' || passwordStr == 'strong'"></div>
    <div class="indicator" [class.active]="passwordStr == 'strong'"></div>
  </div>
  <div class="error-msg">{{errorMsg}}</div>
</div>
